@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Lakes bold";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  max-width: 1120px;
}

body {
  font-family: "TT Lakes", sans-serif;
  font-weight: 400;
  color: #1b1c21;
  background-color: #f8f8f8;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.status__button--repair[aria-label="Оставить заявку"] {
  display: none;
}

.status__button--check[aria-label="Статус ремонта"] {
  display: none;
}

.sidebar {
  background-color: #ffffff;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  width: 320px;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.sidebar__menu {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 0px;
}

.sidebar__item {
  position: relative;
  padding-left: 24px;
  color: #1b1c21;
  transition: color 0.3s ease;
  text-decoration: none;
}

.sidebar__item--active {
  color: #7e7e82;
}

.sidebar__item:hover {
  color: #7e7e82;
}

.sidebar__item--active::before {
  content: "";
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header {
  display: flex;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 16px;
  margin: 0px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  position: relative;
}

.header__burger {
  display: block;
  border: none;
  background-color: transparent;
}

.header__burger::after {
  display: block;
  content: url(img/burgeraside.svg);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__center {
  display: none;
}

.header__logo {
  display: flex;
  margin-top: 0;
  gap: 16px;
  align-items: center;
}

.header__right {
  display: flex;
  order: 1;
  justify-content: space-between;
  gap: 8px;
}

.footer__icons {
  display: flex;
  gap: 16px;
  padding: 16px;
  position: fixed;
  left: 0;
  bottom: 150px;
  z-index: 101;
}

.footer__call::after,
.footer__chat::after,
.footer__profile::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
}

.footer__call::after {
  background-image: url("img/call.svg");
}

.footer__chat::after {
  background-image: url("img/chat.svg");
}

.footer__profile::after {
  background-image: url("img/profile.svg");
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  position: fixed;
  padding: 16px;
  bottom: 0;
  z-index: 101;
}

.footer__email {
  color: #1b1c21;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.3s;
  margin-top: 16px;
}

.footer__phone {
  color: #1b1c21;
  font-family: "TT Lakes bold", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.3s;
}

.footer__email:hover,
.footer__phone:hover {
  opacity: 0.7;
}

.footer__language {
  display: inline-block;
  gap: 7px;
}

.footer__language--active {
  color: #7e7e82;
}

.footer__language:hover {
  color: #7e7e82;
}

.status__link--repair::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("img/searchaside.svg");
  background-position: center;
}
