// colors
$primary-text-color: #1b1c21;        
$secondary-text-color: #7e7e82;        
$white-color: #ffffff;                 
$element-color: #41f6d7;                
$footer-text-color: #555;                              
$disabled-color: #aaa;                 
$grey-color: #666;  
$inherit-color: inherit;
$accent-color: #ff3e79;
$active-bullet-color: #b5b6bc; 
$inactive-bullet-color: #dddddd;  


// background-color
$main-background-color: #f8f8f8;      
$element-background-color: #41f6d7;   
$white-background-color: #ffffff;    
$button-background-color: #ff3e79;  
$transparent-background-color: transparent; 
$no-background-color: none;          
$brand-border-color: #eaeaea;         
$disabled-background-color: #dddddd;  
$inactive-background-color: #b5b6bc; 
$white: #fff;

// Fonts
$main-font-family: "TT Lakes", sans-serif;
$bold-font-family: "TT Lakes bold", sans-serif;
$inherit-font-family: inherit;

// Breakpoints
$breakpoint-mobile-xs: 320px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1119px;
$breakpoint-desktop: 1120px;
